$primary_color: #FFF;
$secondary_color: #000;
$bg_color: #FFF;
$highlight_color: lighten(#383C4A, 40%);
$fg_color: #60636E;
$dark_font_color: darken($fg_color, 30%);
$light_font_color: lighten($fg_color, 30%);
$panel_font_color: #FFF;
$panel_background_color: rgba(0, 0, 0, .2);
$color1: #367BF0;
$color2: #19A187;

@if $variant == 'dark' {
  $primary_color: #2F343F;
  $secondary_color: #FFF;
  $bg_color: #383C4A;
  $highlight_color: #FFF;
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: darken($fg_color, 20%);
  $panel_font_color: #FFF;
  $panel_background_color: rgba(0, 0, 0, .3);
  $color1: #367BF0;
  $color2: #19A187;
}

@if $variant == 'darkest' {
  $primary_color: #000;
  $secondary_color: #FFF;
  $bg_color: #050505;
  $highlight_color: #FFF;
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: darken($fg_color, 20%);
  $panel_font_color: #FFF;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #367BF0;
  $color2: #19A187;
}

@if $variant == 'miami' {
  $primary_color: #000;
  $secondary_color: #FFF;

  $bg_color: #290351;
  $highlight_color: #FFF;
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: rgba(255, 255, 255, .7);
  $panel_font_color: #FFF;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #F0F;
  $color2: #08ECBE;
}

@if $variant == 'miami-dark' {
  $primary_color: #000;
  $secondary_color: #FFF;

  $bg_color: #15022A;
  $highlight_color: #FFF;
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: rgba(255, 255, 255, .7);
  $panel_font_color: #FFF;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #FC17AF;
  $color2: #5AEED8;
}

$warning_color: #FD7D00;
$error_color: #D41919;
$destructive_color: $error_color;

$link_color: $color1;
$selected_fg_color: #FFF;
$osd_fg_color: #FFF;
$osd_bg_color: #000;
